* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: serif;
}

.clear{
  clear:left;
}

.container{
  max-width: 1200px;
  width:100%;
  padding:0 15px;
  margin:0 auto;
}

header{
  height:100px;
  width: 100%;
  background-color:black;
  position :fixed;
  top: 0;
  z-index: 10;
  opacity:0.6;
}

.header-left{
  float:left;
}

.header-left h1{
  color:white;
  font-size:50px;
  font-weight: normal;
}

.header-right{
  float:right;
  height:50px;
  width:150px;
  background-color: white;
  margin-top:50px;
  margin-right: 25px;
  border-radius: 10px;
  opacity:0.7;
  text-align: center;
  transition: all 0.5s;
}

.header-right a{
  color:black;
}

.send-btn{
  display: inline-block;
  opacity: 0.6;
  border-radius: 20px;
  text-align: center;
  padding-top:13px;
  padding-left: 4px;
}

.header-right:hover{
  background-color: #32BB6E;
  opacity: 0.7;
}

.top-wrapper{
  background-image: url(https://pbs.twimg.com/media/EWgWxE1XYAERezo?format=jpg&name=medium);
  background-size: cover;
  height:600px;
}

.container h2{
  background-color: white;
  opacity:0.7;
  color:#BF90B7;
  width:500px;
  letter-spacing: 5px;
  font-weight: normal;
}

.container h2,h3,p{
  text-align:center;
  font-weight: normal;
}

.container h3{
  opacity:0.7;
  background-color: black;
  color:white;
  margin-top: 10px;
}

.children p{
  background-color: white;
  opacity:0.7;
  letter-spacing: 10px;
}

.parent{
  position:relative;
}

.children{
  position: absolute;
  bottom:30px;
}

span{
  color:black;
}

.lesson-wrapper{
  background-color: white;
  text-align: center;
  padding-bottom: 10px;
}

.heading{
  padding-top: 30px;
  height:100px;
}

.heading h1{
  letter-spacing: 10px;
  font-weight: normal;
  text-align: center;
  color:white;
  background-color: black;
}

.lessons{
  display: flex;
}

.lesson{
  float: left;
  width: 25%;
  margin-top: 100px;
  padding-right: 30px;
}

.txt-contents{
  width: 80%;
  display: inline-block;
  margin-top: 12px;
  font-size: 12px;
  color:#BF90B7;
}

img{
  height:200px;
  width:200px;
  border-radius: 10px;
}

.message-wrapper{
  text-align: center;
  width:100%;
  padding: 0 15px;
  margin: 0 auto;
  background-color:#DCCDB8;
  height:300px;
}

.image{
  height:250px;
  width:250px;
  float: left;
  margin: 20px;
  border-radius: 20px;
}
.introduce{
  float:left;
  color:black;
  margin: 25px 25px 25px 30px;
}

.info{
  display: flex;
  height:50px;
  margin-right: 0;
  margin-left: 0;
}

.btn p{
  transition: all 0.5s;
}

.line{
  height:50px;
  width:50px;
  border-radius:25px;
}

.top:hover{
  background-color:#32BB6E;
}

.insta{
  margin-left: 20px;
  height:50px;
  width:50px;
  border-radius: 25px;
}

.bottom:hover{
  background-color:#DD55CB;
}

.nav{
  color:black;
  margin:0;
  margin-left: 10px;
  margin-top: 4px;
  border-radius: 10px;
}

.btn{
  display:flex;
}

.btn p{
  font-family:verdana;
  padding-top: 10px;
}

footer{
  height:50px;
  width:100%;

}
